<h1>Dashboard TEST<h1>

<%= line_chart Despesa.group_by_day(:date).count %>

<%= column_chart Despesa.group_by_day_of_week(:date, format: "%a").count %>

<%= bar_chart Despesa.group(:date).sum(:quantia) %>

<%= line_chart Despesa.group(:quantia).group_by_week(:date).count %>


<!--
 <table>
  <thead>
    <tr>
     <th>Date</th>
     <th>Description</th>
     <th>Type</th>
     <th>quantia</th>
    </tr>
  </thead>
  <tbody>
  <% @despesas.each do |e| %>
   <tr>
    <td><%= e.date %></td>
    <td><%= e.description %></td>
    <td><%= e.type %></td>
    <td><%= e.quantia %></td>
   </tr>
  <% end %>
  </tbody>
</table>
-->
